* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: "Arial";
    font-size: 16px;
    background-color: #f1f1f1;
}

.bg-white {
    background-color: #fff;
    height: 400px;
}

.box-item {
    align-items: center;
    border: 2px solid #ccc;
    box-shadow: 10px 10px 6px -1px rgba(0, 0, 0, 0.34);
}

img {
    width: 5rem;
}

img img {
    width: 100%;
}

.gh-item-button {
    padding: 0 .75rem;
    border: 1px solid #ccc;
}

.gh-item input {
    width: 35px;
    border: 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.gh-item input:focus {
    outline: none;
}
#gioHang p {
    margin: 0.25rem 0;
    font-size: .9rem;
}

.gh-item p span {
    color: red;
}

