@font-face {
    font-family: Gotham-Ultra;
    src: url("../fonts/FontAwesome.otf");
}

@font-face {
    font-family: Gotham-Medium;
    src: url("../fonts/FontAwesome.otf");
}

@font-face {
    font-family: Gotham-Thin;
    src: url("../fonts/FontAwesome.otf");
}